-- Example 0
6
......
......
......
......
......
......

16
-- Example 1
6
.....s
..s.r.
r.....
.srs..
..r...
......

19
-- Example 2
6
......
......
....ss
....ss
...r..
...r..

-1
-- Example 3
6
...s.r
..r.s.
rr.s..
..s.rr
s.rr..
.s.s..

54
